body {
  background-color: azure;
}

img {
  max-width: 50%;
}

.user-name {
  width: 100px;
}

#centerer {
  display: block;
  width: 100%;
}

#flipbook {
  margin: auto;
}

div.page {
  background-color: white;
}

@media print {
  tr td img {
    max-height: 3.5in;
    max-width: 3.5in;
    page-break-inside: avoid;
  }
  body {
    font-size: 1em;
  }
}
