<br>
<uib-accordion close-others="false">
<div uib-accordion-group class="panel-default" heading="GroupMe Developer Access Token FAQ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">What is it?</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">An Access Token is a unique key that references your specific GroupMe user account. This token allows you to access only the groups and direct messages of which you are a member.</li>
      <li class="list-group-item">It is important that you do not share your access token with anyone. That would allow them to interact with GroupMe on your behalf and read all of your private messages.</li>
    </ul>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">How do I get mine?</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Navigate to <a href="https://dev.groupme.com/" target="_blank">dev.groupme.com</a>.</li>
      <li class="list-group-item">Sign in with your existing GroupMe credentials and password.</li>
      <li class="list-group-item">Entertain yourself with GroupMe's developer documentation, it can take up to ten minutes for GroupMe to generate an access token for your account.</li>
      <li class="list-group-item">Once credentials are generated, there will be a link on the right side of the navbar labeled "Access Token". Click this to display your unique token.</li>
    </ul>
  </div>
</div>
