<div ng-controller="turnCtrl">
  <button ng-click="buildNewCollection()" ng-show="isNewCollection" class="btn btn-default">Build Collection</button>
  <div ng-bind="flipbookStatus"></div>
  <!-- Alerts -->
  <div ng-show="customCover.titleInput.$invalid" uib-alert ng-class="'alert-warning'">Sorry, your <b>title</b> is a little too long...</div>
  <div ng-show="customCover.taglineInput.$invalid" uib-alert ng-class="'alert-warning'">Sorry, your <b>subtitle</b> is a little too long...</div>
  <!-- Flipbook -->
  <div ng-show="conversationLoaded">
    <div id="toc"></div>
    <div id="flipbook" ng-init="readyFlipbook()">
      <div><h1>My GroupMe Conversation</h1></div>
      <div id="foreword">
        <h2>Foreword</h2>
      </div>
      <div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Message</th>
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <button ng-click="backToTOC()" ng-show="!editMode" class="btn btn-default" role="button">Back to TOC</button>
    <button ng-click="saveCollection()" ng-show="!editMode" ng-disabled="!conversationLoaded" class="btn btn-default" role="button">Save this Collection</button>
    <button ng-click="editCollection()" ng-show="!editMode" ng-disabled="!conversationLoaded" class="btn btn-default" role="button">Edit this Collection</button>
    <button ng-click="commitEdit()" ng-show="editMode" ng-disabled="customCover.$pristine || customCover.$invalid" class="btn btn-default" role="button">Commit Changes</button>
    <button ng-click="cancelEdit()" ng-show="editMode" class="btn btn-default" role="button">Cancel Edit</button>
    <button ng-click="shareCollection()" ng-show="!editMode" ng-disabled="!conversationLoaded" class="btn btn-default" role="button">Share this Collection</button>
    <button ng-click="downloadCSV()" ng-show="!editMode" ng-disabled="!conversationLoaded" class="btn btn-default" role="button">Download CSV File</button>
  </div>
  <p ng-bind="shareLink">Share Link Goes Here</p>
</div>
