<h1>Welcome to GroupMe Memories!</h1>
<p>GroupMe Memories interfaces with the GroupMe API to retrieve entire conversation histories and allow you to traverse the message log in a familiar eBook format.</p>
<p>This project was born from a yearning within my friendgroup to relive the best parts of our group chat throughout the years, but GroupMe's standard app interface was never really intended to serve that purpose.</p>
<p>With GroupMe Memories, after a simple registration process, you can view an eBook for any of the groups you have access to. With our edit feature, you can add custom cover elements and even a foreword message. Then, you can access a public link to share your trip down memory lane with friends and family (no login required). Heck, even download the full list of text messages to CSV if you want, who are we to stop you!</p>
<p>Questions? Concerns? Please email matt.kraatz@gmail.com</p>
