<nav class="navbar navbar-default" ng-controller="navCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/profile">GroupMe Memories</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav navbar-left">
        <li ng-class="getClass('/new')"><a href="#/new">New Collection</a></li>
        <li ng-class="getClass('/view')"><a href="#/view">View Collections</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="getClass('/profile')"><a href="#/profile" ng-show="$parent.isLoggedIn">Profile</a></li>
        <li ng-class="getClass('/login')"><a href="#/login" ng-show="!$parent.isLoggedIn">Login/Register</a></li>
        <li><a ng-click="logout()" ng-show="$parent.isLoggedIn">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
