<nav class="navbar navbar-default" ng-controller="navCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GroupMe Memories</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#/new">New Collection</a></li>
        <li><a href="#">View Collections</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/profile" ng-show="$parent.isLoggedIn">Profile</a></li>
        <li><a href="#/login" ng-show="!$parent.isLoggedIn">Login/Register</a></li>
        <li><a ng-click="logout()" ng-show="$parent.isLoggedIn">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
