<h1 style="text-align: center">Welcome to GroupMe Memories!</h1>
<div id="homePage" class="col-md-10 col-md-offset-1">
  <p>With GroupMe Memories, you can retrieve entire conversation histories from GroupMe in order to customize shareable eBooks! Traverse your conversation page by page, navigate to a specific date in time using a procedurally generated Table of Contents, or download the entire conversation as a CSV.</p>
  <img src="src/images/ebook.png">
  <p>Click on individual messages to add them to a separate, shareable Memories eBook, complete with statistics, popular messages, and personal highlights. Share this personalized eBook with your friends and relive your favorite GroupMe Memories together.</p>
  <img src="src/images/memoriesbook.png">
  <h2>Getting Started</h2>
  <ol>
    <li><strong>Register</strong> for an account on GroupMe Memories</li>
    <li>Navigate to the <strong>Profile</strong> section and make sure your Developer Access Token is provided</li>
    <li>Navigate to the <strong>New</strong> section</li>
    <li>Select a group from the <strong>Select Group</strong> dropdown. This is a list of all groups that you have access to via your Developer Access Token</li>
    <li>After you've selected a group, click the <strong>Build Collection</strong> button to retrieve the conversation history and build out your eBooks</li>
    <li>Wait for a success message, and for the cover of your eBook to display</li>
    <li><strong>Have fun!</strong></li>
  </ol>

  <h2>Features</h2>
  <ul>
    <li>Traverse entire conversation histories by flipping the pages of an eBook</li>
    <li>Navigate your conversation by date using the Table of Contents</li>
    <li>Download the transcript as a CSV file</li>
    <li>Customize the title, subtitle, and foreward section of your eBook</li>
    <li>Save your personalized eBooks for easy retrieval</li>
    <li></li>
    <li></li>
    <li>Create a shareable link for both eBooks that doesn't require a login</li>

  </ul>
</div>
