<div class="container">
  <div class="row text-center">
    <h2>Hall of Fame</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <span class="smallText">Most Popular Message</span
      <blockquote>
        <p>${statsObj.mostLikedMessage[0].text}</p>
        <footer>
          ${statsObj.mostLikedMessage[0].name} with ${statsObj.mostLikedMessage[0]} likes
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Other good ones...</h4>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Message</th>
          <th>Likes</th>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>Message</td>
            <td>Likes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <h4>Most Liked User on Average</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Most Liked User by Total Likes</h4>
    </div>
  </div>
</div>
